@model StateManagement.Models.User


@{
ViewBag.Title = "Register";
}


<form method="get" action="Success">

    <p>Name</p> <input type="text" name="Name" value=""/><br/>
    <p>Email</p> <input type="email" name="Email" value=""/><br/>
    <p> Password</p> <input type="password" name="Password" value=""/><br/>
    <p>Age</p> <input type="number" name="Age" value=""/><br/>

    <input type="submit"/>

</form>


